---
import { SITE_TITLE } from "@/consts";
---

<header class="m-0 px-4 bg-white shadow-md">
  <nav>
    <div class="w-full flex items-center justify-center">
      <h2 class="m-4 text-base">
        <a class="text-black hover:text-black" href="/">{SITE_TITLE}</a>
      </h2>
    </div>
  </nav>
</header>
