---
import { SITE_TITLE } from "@/consts";
import { Image } from "astro:assets";
import Logo from "@/assets/logo.svg";
---

<header>
  <nav>
    <Image src={Logo} alt="Logo" width={32} height={32} />
    <h2>
      <a href="/">{SITE_TITLE}</a>
    </h2>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 1rem 0;
    box-shadow: var(--shadow-md);
  }

  nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  h2 {
    margin: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
