---
import { getEntry } from "astro:content";
export type Props = {
  prevPost?: {
    collection: "blog";
    id: string;
  };
  nextPost?: {
    collection: "blog";
    id: string;
  };
};

const { prevPost, nextPost } = Astro.props;
const nextPostEntry = nextPost
  ? await getEntry(nextPost.collection, nextPost.id)
  : null;
const prevPostEntry = prevPost
  ? await getEntry(prevPost.collection, prevPost.id)
  : null;
---

<div class="flex justify-between mt-8">
  {
    nextPost && (
      <a
        href={`/blog/${nextPostEntry?.slug}`}
        class="text-blue-500 hover:text-blue-700 transition duration-200 ease-in-out"
      >
        &larr; {nextPostEntry?.data.title}
      </a>
    )
  }
  {
    prevPost && (
      <a
        href={`/blog/${prevPostEntry?.slug}`}
        class="text-blue-500 hover:text-blue-700 transition duration-200 ease-in-out ml-auto"
      >
        {prevPostEntry?.data.title} &rarr;
      </a>
    )
  }
</div>
