---
export type Props = { tag: string };
const { tag } = Astro.props;
---

<a href={`/tags/${tag}`}>
  {tag}
</a>

<style>
  a {
    display: block;
    margin: 0.25rem;
    border-radius: 0.25rem;
    padding: 0.125rem 0.5rem;
    font-size: 1.125rem;
    background-color: var(--secondary-container);
    color: var(--text-secondary);
    box-shadow: var(--shadow-md);
    text-decoration: none;

    &:hover {
      box-shadow: var(--shadow-sm);
    }
  }
</style>
