---
export type Props = { tag: string };
const { tag } = Astro.props;
---

<p class="m-1 rounded-sm px-2 py-0.5 text-lg bg-tertiary-container shadow-md">
  <a href={`/tags/${tag}`} class="color-text-blue-600">{tag}</a>
</p>
