---
export type Props = { tag: string };
const { tag } = Astro.props;
---

<div>
  <a href={`/tags/${tag}`}>
    {tag}
  </a>
</div>

<style>
  div {
    margin: 0.25rem;
    border-radius: 0.25rem;
    padding: 0.125rem 0.5rem;
    font-size: 1.125rem;
    background-color: var(--secondary-container);
    box-shadow: var(--shadow-md);

    &:hover {
      box-shadow: var(--shadow-sm);
    }
  }

  a {
    color: var(--text-secondary);
    text-decoration: none;
  }
</style>
