---
import Tag from "./Tag.astro";

export type Props = {
  tags: string[];
};
const { tags } = Astro.props;
---

<ul role="list">
  {
    tags.map((tag) => (
      <li>
        <Tag tag={tag} />
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
  }
</style>
